.header-container {
  display: flex;
  justify-content: space-between;
}

.flexbox-item1 {
  background-color: blue;
  height: 200px;
  width: 628px;
  
}

.flexbox-item2 {
  background-color: green;
  height: 200px;
  width: 628px;
}

.flexbox-item3 {
  background-color: yellow;
  height: 200px;
  width: 628px;
  
}

/*second row*/
.middle-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5%;
  margin-left: 0%;
  margin-right: 0%;
}

 .flex-box1 {
  background-color: black;
  height: 500px;
  width: 280px;
}

 .flex-box2 {
  background-color: pink;
  height: 490px;
  width: 490px;
  border-radius: 50%;
  align-self: center;
}

.flex-box3 {
  background-color: darkmagenta;
  height: 500px;
  width: 280px;
 
}

/*last item*/
.footer-container {
  background-color: greenyellow;
  height: 233px;
  margin-top: 0.5%;
  
}

