.header-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.flexbox-item1 {
  background-color: blue;
  height: 200px;
  width: 520px;
  
}

.flexbox-item2 {
  background-color: green;
  height: 200px;
  width: 520px;
}

.flexbox-item3 {
  background-color: yellow;
  height: 200px;
  width: 520px;
  
}

/*second row*/
.middle-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

 .flex-box1 {
  background-color: black;
  height: 500px;
  width: 280px;
}

 .flex-box2 {
  background-color: purple;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  align-self: center;
}

.flex-box3 {
  background-color: pink;
  height: 500px;
  width: 280px;
 
}

/*last item*/
.footer-container {
  background-color: greenyellow;
  height: 200px;
  margin-top: 1%;
}

